body {
    padding: 10px;
    font-size: large;

  }
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 10px;
}

header p {
  margin-top: 10px;
  text-align: center;
  color: orange;
  font-size: 20px;
}
header i {
    color: black;
}
.row .col:nth-child(2) .row:first-child .col {
  text-align: left;
}
.row .col:nth-child(3) {
  text-align: right;
}
.main {
  margin-bottom: 20px;
}
button {
  border-radius: 50px;
  border: 2px solid black;
  font-size: medium;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.button1 {
  background-color: lightblue;
  width: 70px;
  float: right;
}
.button2 {
  background-color: lightgray;
  width: 80px;
  float: left;
}
.button3 {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 10px;
}
.row img {
  display: inline-block;
  vertical-align: middle;
  float: right;
  height: 70px;
  width: 70px;
}

.price {
  text-align: right;
  padding-bottom: 20px;
}

.subtotal {
  text-align: left;
}
#valueTotal {
  text-align: right;
}

